*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.background {
    background-color: white;
}
li, a, .btn {
    font-family:fantasy;
    font-weight: 500;
    font-size: 16px;
    color:black;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    padding: 20px 20%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    margin-right: 10rem;
    background-color:white;
    
}

img {
    cursor: pointer;
    max-width: 20%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: contain;
   
    margin-left: 5rem;
    padding-right: 10%;
}

.navlinks {
    list-style: none;
    display:flex;
    margin-left: 0.1rem;
}

.navlinks li {
    display: inline-block;
    padding: 3px 10px;
}

.navlinks li a {
    transition: all 0.3s ease 0;
    margin-right: 5rem;
    justify-content: space-between;
    display: flex;

}
.navlinks li a:hover {
    color:hotpink
}

.btn {
    padding:10px 25px;
    background-color:lightpink;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
    margin: 2rem;
    margin-right: 20rem;
}
--------------------------
body {
    background-color: #f9f1f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.home-content {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 450px;
    text-align: center;
    margin-top: 25%;
    margin-left: 40%;
}

.home-content h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 50px;
    font-weight: 700;
    font-family: fantasy;
    font-weight: 500;
    text-shadow: 10px;
    text-shadow: 0 0 10px black;
}

.home-content p {
    font-size: 16px;
    text-align: center;
    font-family: fantasy;
    margin-bottom: 30px;
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background-color: plum;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px palevioletred;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content .start-btn:hover {
    background-color: lightpink;
    box-shadow: none;
}

---------------------------------------
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: white; 
}


.popup-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.popup-info {
    width: 300px;
    padding: 20px;
    background-color: bisque; 
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    margin-left: 40%;
    margin-top: 20%;
    
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-info h2 {
    font-size: 20px;
    margin-top: 0;
}

.popup-info .info {
    display: block;
    margin-bottom: 10px;
}

.popup-info .btn-group {
    text-align: right;
}

.popup-info .info-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffbfd8; 
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-info .exit-btn {
    background-color: #ffbfd8; 
    margin-right: 5px;
}

.popup-info .continue-btn {
    margin-right: 10px;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: darkgoldenrod;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: darkgoldenrod;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: lightgoldenrodyellow;
    border-color: lightgoldenrodyellow;
}
-------------------------------
html, body{
    height: 100%;
}


body{
    font-family: 'Montserrat', serif;

}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    background: url('../assets/background_image.jpg');
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}

.game-quiz-container{
    width: 40rem;
    height: 30rem;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.game-details-container{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-details-container h1{
    font-size: 1.2rem;
}

.game-question-container{
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkmagenta;
    border-radius: 25px;
}

.game-question-container h1{
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}

.game-options-container{
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 45%;
    height: 3rem;
    border: 2px solid darkmagenta;
    border-radius: 20px;
    overflow: hidden;
}
span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: rgb(22, 22, 22);
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: white;
}

.id [type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
    background: paleturquoise;
}

.next-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.next-button-container button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(25, 25, 25);
    font-weight: 600;
    border: 2px solid gray;
    cursor: pointer;
    outline: none;
}
.next-button-container button:hover{
    background-color: rgb(143, 93, 93);
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
    height: 20rem;
    width: 25rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1.3rem;
    height: 3rem;
    color: lightgray;
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}

@media(min-width : 300px) and (max-width : 350px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
    }
    .game-details-container h1{
        font-size: 0.8rem;
    }

    .game-question-container{
        height: 6rem;
    }
    .game-question-container h1{
    font-size: 0.9rem;
    }

    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }
    .game-options-container span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }

    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
.game-quiz-container{
    width: 90%;
    height: 80vh;
    }
    .game-details-container h1{
        font-size: 1rem;
    }

    .game-question-container{
        height: 8rem;
    }

    .game-question-container h1{
        font-size: 0.9rem;
    }

    .game-options-container span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}



@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }